#marshal:hover,
#chimmy:hover {
  /* transform: rotate(12deg);
  transition: 0.2s; */

  animation: wiggle 1s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% {
  }
  20% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-12deg);
  }
  60% {
    transform: rotate(0deg);
  }
}
