#billboard-section {
  position: relative;
  margin: auto;
  width: 75%;
}

#billboard-bg {
  width: 100%;
  z-index: -1;
}

#marshal {
  position: absolute;
  top: 37.5%;
  left: 29.3%;
  width: 7.271%;
  z-index: 1;
}

#chimmy {
  position: absolute;
  top: 37.5%;
  left: 38%;
  width: 8.132%;
  z-index: 1;
}

#polaroid-1 {
  position: absolute;
  width: 12.136%;
  height: 29%;
  z-index: 4;
  background-color: white;
  top: 11.2%;
  left: 1.6%;
}

#polaroid-2 {
  position: absolute;
  width: 12.136%;
  height: 29%;
  z-index: 4;
  background-color: white;
  top: 15%;
  left: 15%;
}

.polaroid-pic {
  position: absolute;
  top: 9%;
  left: 8.75%;
  width: 82.5%;
  height: 66%;
  background-size: cover;
}

#pic-2 {
  background-image: url('assets/polaroid-2.png');
}

#todo-list {
  font-family: "Caveat", monospace;
  position: absolute;
  top: 15%;
  left: 34.1%;
  z-index: 2;
  background-color: #FBF6CB;
  width: 18.751%;
  height: 19.5%;
  text-align: left;
}

#todo-list h2 {
  margin-top: 6%;
  margin-bottom: 0px;
  font-size: 1.4vw;
  vertical-align: 0px;
  text-align: center;
}

#todo-list div {
  display: inline-block;
  height: 1.1vw;
  width: 1.1vw;
  border: 0.14vw solid black;
  margin: 0px;
  margin-left: 10%;
  transform: translateY(15%);
}

#todo-list p {
  padding: 0px;
  display: inline-block;
  font-size: 1.1vw;
  vertical-align: 0px;
  margin: 0px;
  margin-top: 5%;
  margin-left: 5%;
}

#inspo-list {
  font-family: "Caveat", monospace;
  position: absolute;
  top: 25.6%;
  left: 48.8%;
  z-index: 2;
  background-color: #DAFBCB;
  width: 15.951%;
  height: 21%;
  text-align: left;
}

#inspo-list h2 {
  margin-top: 3%;
  margin-bottom: 0px;
  font-size: 1.4vw;
  vertical-align: 0px;
  text-align: center;
}

#inspo-list p {
  padding: 0px;
  font-size: 1vw;
  vertical-align: 0px;
  margin: 0px;
  margin-top: 2%;
  margin-left: 10%;
}

#inspo-list p a {
  color: inherit;
  border-bottom: 0.1vw dotted;
  text-decoration: none;
}

#inspo-list p a:hover {
  color: #757575;
  transition: 0.2s;
}

#map {
  position: absolute;
  top: 13.3%;
  left: 69%;
  width: 24.547%;
  height: 20%;
  z-index: 1;
  padding: 3% 1.2% 4% 3%;
  background-color: #6A89CB;
  text-align: center;
}

#map img {
  width: 100%;
  margin: auto;
}
