#desk-section {
    margin-top: 5vw;
    width: 100%;
    position: relative;
}

#desk {
    width: 100%;
    z-index: -1;
}

#plant {
    position: absolute;
    top: -150%;
    left: 10%;
    z-index: 1;
    width: 15%;
}

#boba {
    position: absolute;
    right: 13.5%;
    top: -145%;
    width: 9%;
    z-index: 1;
}

#monitor {
    position: absolute;
    left: 27.5%;
    top: -232%;
    width: 45%;
    z-index: 2;
}

#monitor-window {
    position: absolute;
    left: 35.6%;
    top: -186%;
    width: 27.2%;
    height: 12.5vw;
    border-radius: 0px 0px 5% 5%;
    z-index: 5;
    margin: 0;
    padding: 0;
}

#monitor-window iframe {
    margin: 0px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px 0px 5% 5%;
}

#desk-mat {
    position: absolute;
    top: 13%;
    left: 18%;
    z-index: 0;
    width: 64%;
}

