@media (max-width: 720px) {
  .page-container {
    padding: 5vw 12px 5vw 12px;
  }

  #mobile-note {
    display: block;
    background-color: var(--green);
    padding: 16px 12px 16px 12px;
    font-size: 1rem;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    color: white;
  }

  #todo-list h2,
  #todo-list p,
  #todo-list div {
    display: none;
  }

  #inspo-list h2,
  #inspo-list p {
    display: none;
  }

  #spotify-window {
    height: 15vw;
    padding: 0px;
    margin: 0px;
    top: -200%;
    background-color: white;
  }

  #spotify-window img {
    padding: 0px;
    margin: 0px;
    transform: translatey(-100%)
  }

  #spotify-window p {
    background-color: white;
    display: block;
    text-align: center;
    margin-top: 2vw;
    font-size: 3vw;
    color: #5B5B5B;
    font-family: "IBM Plex Mono", monospace;
  }

  #spotify-window iframe {
    display: none;
  }

  #polaroid-pic-1, #polaroid-pic-2, #polaroid-pic-3, #photo-pic-1 {
    background-image: none;
    background-color: #D9D9D9;
  }

  #dean, #kezai, #dcaesar, #hitc, #iu, #hyukoh {
    background-image: none;
  }

  #dean {
    background-color: #B24894;
  }

  #kezai {
    background-color: #6C8A94;
  }

  #dcaesar {
    background-color: #5E7C99;
  }

  #hitc {
    background-color: #F6F1F7;
  }

  #iu {
    background-color: #FFFFFF;
  }

  #hyukoh {
    background-color: #000000;
  }
}
